.github {
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  display: block;

  .cursor {
    width: 12rem;
    animation: appear 0.2s forwards;
  }

  .cursor-message {
    top: 100%;
    left: 50%;
    transform: translate(-50%, -1rem);
    transform-origin: 500%, 500%;
  }
}
