.wave {
  transform: translate(-50%, -50%);
  opacity: 1;
  transition: all 0.2s;

  .cursor {
    width: 4rem;
    animation: appear 0.2s forwards, wave alternate 0.5s 3 ease-in-out;
    // animation: appear 0.2s forwards;

    #skin path {
      fill: var(--color-cat);
    }
  }

  .cursor-message {
    top: 100%;
    left: 50%;
    transform: translate(calc( -50% + 5rem), -1rem);
  }
}

@keyframes wave {
  from {
    transform: scale(1) translate(0%, 0%) rotate(0.15turn);
  }
  to {
    transform: scale(1) translate(0%, 0%) rotate(-0turn);
  }
}
