---
import Layout from "@/components/Layout.astro";
import oddcelotImage from "@assets/oddcelot.svg?raw";
import Cursor from "@/components/Cursor/Cursor";
import Playground from "@/components/Playground/Playground";
---

<Layout title="Astro Quickstart">
  <Cursor client:visible />
  <Playground client:visible
    ><a href="//github.com/oddcelot" title="Visit oddcelot on GitHub"
      ><div class="emoji" set:html={oddcelotImage}></div>
    </a>
  </Playground>
</Layout>
