---
import Layout from "@/components/Layout.astro";
import oddcelotImage from "@assets/oddcelot.svg?raw";
import Cursor from "@/components/Cursor/Cursor";
import Playground from "@/components/Playground/Playground";
---

<script>
  document.addEventListener("visibilitychange", () => {
    if (document.visibilityState === "visible") {
      document.title = "ðŸ˜¸ long time no see";
    } else {
      document.title = " ðŸ™€ come back pls";
    }
  });
</script>

<Layout>
  <Fragment slot="header">
    <title>oddcelots Playground</title>
    <meta
      name="description"
      content="Personal Playground and web dev petri dish ðŸ§«"
    />
    <meta name="robots" content="index, follow" />

    <meta
      property="og:title"
      content="Stefan Kopco aka oddcelot | Spreading some frontend love â¤ï¸"
    />
    <meta property="og:type" content="website" />
    <meta property="og:image" content={Astro.site + "assets/oddcelot.svg"} />
    <meta property="og:url" content={Astro.canonicalURL.href} />
    <meta
      property="og:description"
      content="Personal Playground and web dev petri dish ðŸ§«"
    />
  </Fragment>
  <Cursor client:load />
  <Playground client:visible
    ><a href="//github.com/oddcelot" title="Visit oddcelot on GitHub"
      ><div class="oddcelot" set:html={oddcelotImage}></div>
    </a>
  </Playground>
</Layout>


<style>
  .oddcelot {
    width: 7rem;
  }
</style>