---
import Layout from "../components/Layout.astro";

import Counter from "../components/Counter/Counter";
import yarnImage from "openmoji/color/svg/1F9F6.svg";
import catImage from "openmoji/color/svg/1F431-200D-1F4BB.svg?raw";
---

<Layout title="Astro Quickstart">
  <main>
    <div class="header">

    </div>

    <div class="emoji" set:html={catImage}></div>
    <Counter client:visible>

      <h1>Hello, Solid!</h1>
    </Counter>
    <img class="emoji" src={yarnImage} />

    <footer class="footer">

    </footer>
  </main>
</Layout>
<style>
  html {
    background-color: unset;
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
</style>