html {
  cursor: none;
}

a {
  cursor: none;
}
#cursor-outlet {
  position: fixed;
  inset: 0;
  pointer-events: none;
}

#cursor {
  position: relative;
  display: inline-flex;
  transform: translate(-50%, -50%);

  & > div {
    display: contents;
  }
}

.cursor {
  &[data-name="default"] {
    width: 26px;
    height: 26px;
    opacity: 1;
    transform: translate(-30%, -25%) scale(1);
    transition: 0.2s;
    transition-property: opacity, transform;

    &[data-showing="false"] {
      opacity: 0;
      transform: translate(-50%, -50%) scale(0.1);
    }
  }
}

.cursor-message {
  padding: 0.5rem;
  border-radius: 0.3rem;
  color: var(--color-text);
  background: var(--color-bg);
  border: 2px solid rgba(0, 0, 0, 0.2);
  top: 0;
  width: fit-content;
  height: fit-content;
  white-space: nowrap;
  font-size: 0.6rem;
  top: 100%;
  left: 100%;

  animation: appear 0.2s forwards;
  opacity: 1;
  position: absolute;
  box-shadow: 0px 0px 2.7px rgba(0, 0, 0, 0.046),
    0px 0px 6.9px rgba(0, 0, 0, 0.059), 0px 0px 14.2px rgba(0, 0, 0, 0.065),
    0px 0px 29.2px rgba(0, 0, 0, 0.069), 0px 0px 80px rgba(0, 0, 0, 0.07);
}

@keyframes appear {
  from {
    opacity: 0;
    transform: scale(0.1);
  }
}
